<!DOCTYPE html>
<html>
    <head>
        <title>
            DBS of Hao Wang 
        </title>
        <link rel='stylesheet' type="text/css" href="static/css/style.css">
    </head>
    <body>
        <section>
            <img src="static/img/bg.jpg" id="bg">
            <img src="static/img/moon.png" id='moon'>
            <img src="static/img/road.png" id='road'>
            <div id='text'">
                <h1>DBS of Hao Wang</h1>
                <h3>Predict DBS Share Price</h3>
                <form action="/" method="post">
                    <p>Please enter the exchange rate USD to SGD (example 1.4)</p>
                    <p><input type="number" step="0.01" name="rates"></p>
                    <p><input type="submit" value="Enter"></p>
                </form>
                <p>The predicted price for DBS based on regression is {{result1}}</p>
                <p>The predicted price for DBS based on tree is {{result2}}</p> 
                <div style="height: 65px;"></div>
            </div>
        </section>
    </body>
</html>